body {
	
    font-family: Georgia;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
	padding: 10px;
}

a {
    text-decoration: none; color: black;
}


.error{
	color: red;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    clear: both;
}

.post-content {
    white-space: pre;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.blog-post + .blog-post {
    margin-top: 30px;
}
